* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #D51380;
  font-size: 1.5rem;
}

.nav {
  background-color: #F7C0C6;
  padding: 5em;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.nav__right ul li a {
  color: #DE2184;
  padding: 1em;
}
.nav__right ul li a:hover {
  background-color: black;
  color: white;
  border-radius: 50%;
}

.hero__container {
  background-image: url("../../../images/engin-akyurt-g-m8EDc4X6Q-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  position: relative;
}
.hero__container__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__container__left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-top: 6.5em;
}

.hero__card {
  background-color: #DE2184;
  width: 40%;
  padding: 2em;
  height: 50%;
  position: absolute;
  top: 80%;
  font-size: 2.5rem;
  border-radius: 10px;
  left: 30%;
}

.hero__btn {
  width: 30%;
  padding: 0.5em;
  font-size: 1.5rem;
  margin-left: 40%;
  border: none;
  border-radius: 10px;
  color: #DE2184;
}

.hero__container__container {
  display: flex;
  margin: 3em;
}

.hero__container__container1 {
  box-shadow: 2px 2px 4px grey;
}

.hero__Consultation {
  margin-top: 8em;
  padding: 1em;
  font-size: 1.5rem;
}
.hero__Consultation h1, .hero__Consultation p {
  text-align: center;
  padding: 1em;
}

.make__appointment {
  background-color: #DE2184;
  width: 50%;
  margin: 0 auto;
  height: 20vh;
  border-radius: 15px;
  color: #fff;
}

.make__appointment p {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.4em;
}

.make__appointment button {
  margin-left: 40%;
  padding: 1em;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.footer__container {
  background-color: #F7C0C6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 3em;
}

.Company {
  padding: 3em;
  text-align: center;
}

.nav {
  background-color: #F7C0C6;
  padding: 5em;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.nav__right ul li a {
  color: #DE2184;
  padding: 1em;
}
.nav__right ul li a:hover {
  background-color: black;
  color: white;
  border-radius: 50%;
}

.hero__about {
  background-image: url("../../../images/About.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__about--content h1 {
  color: #de2184;
  font-size: 4rem;
}

.hero__about--content p {
  font-size: 2rem;
  color: #000;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  gap: 1em;
}
.main__content {
  border-radius: 5px;
  padding: 5em;
  line-height: 2em;
  box-shadow: 2px 2px 4px 4px darkgray;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content {
  padding: 2em;
}

.services__header {
  background-image: url("../../../images/istockphoto-1339268647.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #de2184;
  font-size: 4rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__spa {
  padding: 2em;
}

h2,
h3 {
  padding: 2em;
}

.spaa {
  gap: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 2em;
}
.spaa p {
  margin: 1em;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spa {
  box-shadow: 2px 2px 4px 4px darkgrey;
}

.saalon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}
.saalon p {
  margin: 1em;
}

.salon {
  line-height: 2em;
  box-shadow: 2px 2px 4px 4px darkgrey;
}

h2 {
  font-size: 2rem;
}

.form-general {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 70%;
  padding: 5em;
  background-image: url("../../../images/appointment.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.book__h1 {
  font-size: 3rem;
  padding: 1em;
  text-align: center;
  color: white;
}

.enter__name {
  padding: 1em;
  box-shadow: 2px 2px 4px black;
  background-color: white;
  font-size: 1.5rem;
  border: none;
  margin-top: 3em;
}

.enter__email {
  padding: 1em;
  box-shadow: 2px 2px 4px black;
  background-color: white;
  font-size: 1.5rem;
  margin-top: 3em;
  border: none;
}

.phone__number {
  padding: 1em;
  box-shadow: 2px 2px 4px black;
  background-color: white;
  font-size: 1.5rem;
  margin-top: 3em;
  border: none;
}

.datetime__local {
  padding: 1em;
  box-shadow: 2px 2px 4px black;
  background-color: white;
  width: 75%;
  font-size: 1.5rem;
  margin-top: 3em;
  border: none;
}

.select__select1 {
  padding: 1.5em;
  width: 100%;
  margin-top: 2em;
  font-size: 1rem;
  border: none;
  box-shadow: 2px 2px 4px black;
}

.text__area {
  width: 100%;
}

.same__class {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gender {
  font-size: 1.5rem;
}

.gender__holder {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 1em;
}

.submit__btn input {
  background-color: #fff;
  width: 30%;
  padding: 1em;
  color: #de2184;
  font-size: 1rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin-top: 2em;
}

.choose__gender {
  font-size: 2rem;
  margin-top: 2em;
  color: #de2184;
}

.main__contact {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: center;
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
}

.main__contact__right__email input {
  width: 100%;
}

.contact__text {
  margin-top: 2em;
}

.button__contact {
  padding: 1em;
  width: 30%;
  margin-top: 2em;
}

.contact__h1 {
  text-align: center;
}

.dispaly__flex {
  display: flex;
  margin-top: 2em;
}