@use "../../utilities/mixin" as *;

.hero__about{
    background-image:
    url("../../../images/About.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    @include flex-col(center, center);
    &--content{
        @include flex-col(center, center)

    } 
    }

    .hero__about--content h1 {
        color: #de2184;
        font-size: 4rem;
    }
    .hero__about--content p{
        font-size: 2rem;
        color: #000
    }
    .main{
        @include flex(space-between, center);
        padding: 2em;
        gap: 1em;
       
        &__content{
            border-radius: 5px;
            // padding: 2em;
            // margin-bottom: 2em;
          padding: 5em;
          line-height: 2em;
          box-shadow: 2px 2px 4px 4px darkgray
        }

    }
    .footer{
        @include flex(center, center);
        &__content{
            padding: 2em;
        }
        
        
     
    }