@use "../../utilities/mixin" as *;

.hero__about{
    // background-image: url("../../../images/pexels-delbeautybox-853427.jpg");
    background-image:
    linear-gradient(rgba(245, 246, 252, 0.52), rgba(230, 102, 198, 0.73)),
    url("../../../images/pexels-delbeautybox-853427.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    @include flex-col(center, center);
    &--content{
        @include flex-col(center, center)

    } 
    }
    .main{
        @include flex(space-between, center);
        padding: 5em;
        gap: 2em;
       
        &__content{
            border: 1px solid rgb(121, 115, 115);
            padding: 2em;
            margin-bottom: 2em;
            background-color: lightgray;
        }
    }