@use "../../utilities/mixin" as *;
.hero__container{
    background-image: url("https://mikemyc.github.io/spa-and-salon/images/engin-akyurt-g-m8EDc4X6Q-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
    &__container{
        @include flex(space-between, center);
    }
    &__left{
        @include flex(center, center);
        font-size: 2rem;
        padding-top: 6.5em;
    
        }
    
    }

  
    .hero__card{
        background-color: #DE2184;
        width: 40%;
        padding: 2em;
        height: 50%;
        position:absolute;
        top: 80%;
        font-size: 2.5rem;
        border-radius: 10px;
        left: 30%;
        
    }
    .hero__btn{
        width: 30%;
        padding: .5em;
        font-size: 1.5rem;
        margin-left: 40% ;
        border: none;
        border-radius: 10px;
        color: #DE2184;
    }
    .hero__container__container{
        display: flex;
        margin: 3em;
       
        
        
    }

    .hero__container__container1{
        box-shadow: 4px 4px 7px grey;
        
        margin-top: 12em;
        text-align: center;
    }
    .hero__Consultation{
        margin-top: 8em;
        padding: 1em;
        font-size: 1.5rem;

        h1, p{
            text-align: center;
            padding: 1em;
        }
        
        
    }

    .make__appointment{
        background-color: #DE2184;
        width: 50%;
        margin: 0 auto;
        height: 20vh;
        border-radius: 15px;
        color: #fff;
        

    }

    .make__appointment p{
        text-align: center;
        font-size: 1.5rem;
        padding: 1.4em;
        

    }

    .make__appointment button{
        margin-left: 40%;
        padding: 1em;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    
    }
    

    

 
    
.row{
    display: flex;
    flex-wrap: wrap;
}


.footer{
    background-color: #F7C0C6;
    padding: 70px 0;
}
.footer__col{
    
    padding: 0 15px;
   
}
.footer__col h4{
    font-size: 3rem;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    
}
.footer__col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer__col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color: #DE2184;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
}
.footer__col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;

} 
.social__links {
    display: inline-block;
    margin: 0 10px 10px 0;
    line-height: 40px;
    
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
    pad: 2em;
}


.main__footer{
    gap: 16em;
    padding: 5em;
    
    

}
.call__us{
    font-size: 2rem;
    flex-wrap: nowrap;
    display: flex   
}
.call__us1{
    @include flex(center,center);
    color: #DE2184;
    font-size: 2rem;
    
}

.social__links{
    cursor: pointer;
}
    







    