@use "../../utilities/mixin" as *;


.services {
  &__header {
    background-image: url("../../../images/istockphoto-1339268647.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    @include flex-col(center, center);
    color: #de2184;
    font-size: 4rem;
  }
}
h2{
    @include flex(center, center);
}
.services__spa {
  padding: 2em;
}
h2,
h3 {
  padding: 2em;
}
.spaa {
  gap: 2em;
  @include flex(flex-start, center);
  line-height: 2em;
  p {
    margin: 1em;
  }
}
.img{
    @include flex(center, center);
}
.spa {
  box-shadow: 2px 2px 4px 4px darkgrey;
}
.saalon {
  @include flex(flex-start, center);
  gap: 2em;
  p {
    margin: 1em;
  }
}
.salon {
  line-height: 2em;
  box-shadow: 2px 2px 4px 4px darkgrey;
}
h2{
    font-size: 2rem;
}
@media only screen and (max-width: 1065px) {
}