@use "../../utilities/mixin" as *;

.nav{
    background-color: #F7C0C6;
    padding: 3em;
    &__container{
        @include flex(space-between, center);
    }
    &__right{
        ul{
            @include flex(space-between, center);
            gap: 10em;
           
        }
    }
}


